<!DOCTYPE html>
<html ng-app="BookApp">

    <head>
        <meta charset="utf-8">
        <title>Angular</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <style>
          div {
            display:inline-block;
            width:40%;
            vertical-align:top;
          }
        </style>
    </head>

    <body>

      <div ng-controller="BookListCtrl">
        Найти:
        <input ng-model="query"><br><br>
        
        Отфильтровать:
        <select ng-model="genre">
          <option value="Fantasy">Fantasy</option>
          <option value="IT">IT</option>
        </select>
        <br>
        
        Сортировать по:
        <select ng-model="orderProperty">
            <option value="name">Имени</option>
            <option value="price">Цене</option>
            <option value="pages">Количеству страниц</option>
        </select>

        <ul>
            <li ng-repeat="book in books | filter:query | orderBy:orderProperty">
                <h3>{{book.name | uppercase}}</h3>
                <b>Жанр: {{book.genre}}</b>
                <p>{{book.author}}</p>
                <p>Страниц:
                    {{book.pages}}, цена:
                    {{book.price}}</p>
            </li>
        </ul>

        <p ng-show="query | filter:query">
            Выведены книги, содержащие
            {{query}}
        </p>
        
        <p ng-show="query | filter:genre">
            <i>{{book.genre}}</i>
        </p>
        </div>

      <div ng-controller="BookViewCtrl">
          Карточка книги
          <h1>{{oneBook.name | uppercase}}</h1>
          <ul>
            <li>Автор: {{oneBook.author}}</li>
            <li>страниц: {{oneBook.pages}}</li>
            <li>цена: {{oneBook.price}}</li>
          </ul>
      </div>
       
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/filter.js"></script>

    </body>

</html>
